<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="sharespine_cdon" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Cdon</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_fyndiq" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Fyndiq</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_afound" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Afound</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_ahlens" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Åhlens</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_elkjop" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Elkjop</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_tradera" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Tradera</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="sharespine_sharespine" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Sharespine - Sharespine</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>